:root {
    --grey-color: #48555B;
    --blue-color: #16ACE8;
    --black-color: #000;
    --white-color: #fff;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'BebasNeueBold';
    src: url(../fonts/ofont.ru_Bebas\ Neue.ttf);
}

img {
    max-width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.text-h1 {
    color: var(--white-color);
    font-family: 'BebasNeueBold';
    font-size: 60px;
    letter-spacing: 5.709px;
    text-transform: uppercase;
}

.text-h2 {
    color: var(--grey-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}

.text-h3 {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.427px;
}

.text-h4 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    /* 120.833% */
    letter-spacing: 0.188px;
}

.text-p {
    color: var(--grey-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    /* 176.923% */
    letter-spacing: 0.188px;
}

.btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    font-size: 13px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.color-blue {
    color: var(--blue-color);
}

.logo-white {
    width: 101px;
}

.logo-black {
    width: 80px;
}

.header {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 70px;
    height: 769px;
    background-position: center;
}

.header>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-text {
    text-align: center;
    margin-top: 100px;
}

.header-h3 {
    color: var(--white-color);
    font-weight: 600;
}

.header-p {
    color: var(--white-color);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.7px;
}

.navbar {
    padding: 24px 0;
    border: 1px solid #E6E6E6;
    background: var(--white-color);
}

.navbar>.container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.menu__item {
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.091px;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.menu__link:hover {
    color: var(--blue-color);
}

.about {
    padding: 55px 0;
}

.about-h2 {
    text-align: center;
    margin-bottom: 10px;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}

.about-line {
    margin: 0 auto;
    margin-bottom: 62px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__text {
    max-width: 400px;
}

.about-h3 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: end;
}

.about__images-item {
    position: relative;
    transition: 0.2s ease-in;
}

.about-h4 {
    padding: 15px;
    position: absolute;
    top: 0;
}

.about-img {
    height: 224px;
}

.about__images-item:hover {
    scale: 1.1;
}

.services {
    padding: 50px 0;
}

.services__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.services-h2 {
    margin-bottom: 10px;
}

.services-p {
    max-width: 425px;
}

.services-btn {
    margin-top: 30px;
}

.services__cards {
    display: flex;
    justify-content: space-between;
}

.services__card {
    display: flex;
    flex-direction: column;
    max-width: 295px;
    max-height: 330px;
    flex-shrink: 0;
    border: 1px solid #E6E6E6;
    background: var(--white-color);
    padding: 40px 17px;
}

.sercices__card-ico {
    width: 65px;
    margin-bottom: 25px;
}

.services-h3 {
    margin-bottom: 13px;
}

.get-in-touch {
    padding: 150px 0;
    height: 500px;
    background-image: url(../img/bg_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 1px;
}

.get-in-touch>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.get-h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    /* 120% */
    letter-spacing: 0.15px;
    max-width: 350px;
}

.newsletter {
    padding: 35px 0;
    background: #171819;
}
.newsletter>.container {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}
.newsletter-h2 {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;
}
.newsletter__input {
    display: flex;
    gap: 0;
}
.newsletter__input-field {
    width: 250px;
    height: 40px;
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.07px;
    padding: 11px 16px;    
    border: none;
}
.newsletter__input-field:focus{
    outline: none;
}

@media screen and (max-width: 1280px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .services__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media screen and (max-width: 992px) {
    .about__content {
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        max-width: none;
        width: 65%;
        font-size: 10rem;
    }

    .about-p {
        margin-bottom: 30px;
    }

    .services__flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .services-line {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .services__text {
        text-align: center;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .newsletter>.container {
       flex-direction: column;        
       gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .about__images {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}